<!--<!DOCTYPE html>
<html>

<head>
<meta charset="ISO_8859-1">
  
<title>Gestion Commande</title>

</head>
<body >

 <div style:align ="center">
<h1> Client</h1>
<table>
    <thead>
        <tr>
            <th>Client firstname</th>
            <th>Client lastname</th>
            <th>Client email</th>
        </tr>
        <tbody>
            <tr th:each="Client :${listClient}" >
                <td th:text="${Client.firstname}" ></td>
                    <td th:text="${Client.lastname}" ></td>
                        <td th:text="${Client.email}" ></td>
             </tr> 
        </tbody>
    </thead>
</table>

 </div>

</body>
</html>-->